<div class="product-border" [ngStyle]="styleConfig"
      [ngClass]="{'border-green' : product.price < 50}">
  <ul>
    <li>{{product.id}}</li>
    <li *ngIf="showName"
    class="nameAttribute">{{product.name}}</li>
    <li>{{product.price | netto: 16: "brutto" | currency: "EUR"}}</li>
    <li>{{product.price}}</li>
    <li>{{product.weight}}</li>
  </ul>
  <button mat-button (click)="raisePrice()">Preis erhöhen</button>
  <button mat-button (click)="lowerPrice()">Preis reduzieren</button>
  <button mat-button (click)="toggleName()">Toggle Name</button>
</div>
